@import url(./animations.css);
@import url(../../global.css);
#canvas {
    background-color: rgb(133, 161, 112);
    position: fixed;
    pointer-events: none;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

#startbutton {
    width: 250px;
    height: 100px;
    font-size: 250%;
}